@model BooksForAdoption.Models.Requests

@{
    ViewData["Title"] = "Details";
}
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BooksForDonation.styles.css" asp-append-version="true" />
    <style>
    .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}


.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}
body{
    background-color:#000;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
.media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}</style>
<div class="row">
  <div class="col-75">
      <form asp-action="Donate">
        <div class="row">
          <div class="col-50">
            <h3>Donation Info</h3>
            <label for="fname"><i class="fa fa-user"></i>Visible Name</label>
            <input asp-for="DonatorName" id="fname" name="DonatorName" placeholder="John M. Doe">
            <label for="adr"><i class="fa fa-address-card-o"></i> Special Note</label>
             <textarea asp-for="DonatorNote" name="DonatorNote" style="resize:none;" rows="6" cols="56" placeholder="Books are the first keys to knowledge and donating books is our way to share our success with the society and, a public library like yours is a great place to make them easily accessible for all the needy students. I hope you like this book."></textarea>
          </div>
          <div class="col-50">
            <h3>Credit Card Info</h3>
            <input asp-for="RequestID" type="hidden" class="form-control" value=@Model.RequestID/>
            <input asp-for="DonatorMail" type="hidden" class="form-control" value=@User.Identity.Name/>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September">

            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
        </div>
        <input asp-action="Donate" type="submit" value="Continue to checkout" style="background-color: #04AA6D;color: white;padding: 12px;margin: 10px 0;border: none;width: 100%;border-radius: 3px;cursor: pointer;font-size: 17px;">
    </form>
  </div>

  <div class="col-25">
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </h4>
      <div class="card p-3 w-120 container ">
                    <div class="d-inline-flex  p-2 align-middle"><img class="card-img-top"src=@Model?.bookData(@Model.ISBN).ImageLink width="260" height="350" style="align-self:center;">
                    </div>

      <hr>
      <p>@Model?.bookData(@Model.ISBN).Title <span class="price" style="color:black"><b>₺@Model?.bookData(@Model.ISBN).Price.ToString("F")</b></span></p>
  </div>
</div>